*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E2001E;
    height: 100vh;
}

header{
    height: 15%;
    width: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}

.pesquisa{
    height: 25%;
    width: 25%;
    display: flex;
    gap: 2%;
}

.pesquisa input{
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    font-size: small;
    padding-left: 2%;
}

.btn-lupa{
    width: 8%;
    height: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
}

.btn-lupa:hover{
    transform: translateY(-2px); 
}

.btn-lupa img{
    height: 100%;
    width: 100%;
}

main{
    margin-left: 2%;
    display: flex;
    gap: 7%;
    flex-direction: column;
    height: 75%;
    width: 98%;
}

.container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15%; 
    width: 70%;
    height: 70%;
    margin-left: 15%;
    padding: 20px;
}

.box-strawberry, .box-apple, .box-blueberry, .box-banana, .box-pineapple, .box-lemon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-strawberry, .btn-apple, .btn-blueberry, .btn-banana, .btn-pineapple, .btn-lemon{
    width: 70%;
    height: 70%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #E2001E;
    border: 3px solid #E2001E;
    transition: border-color 0.3s ease, transform 0.1s ease;
}

.btn-strawberry :hover, .btn-apple :hover, .btn-blueberry :hover, .btn-banana :hover, .btn-pineapple :hover, .btn-lemon :hover { 
    transform: translateY(-7px); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-strawberry img, .btn-apple img, .btn-blueberry img, .btn-banana img, .btn-pineapple img, .btn-lemon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}


footer{
    height: 10%;
    width: 100%;
    display: flex;
    place-content: end;
    align-items: end;
}

footer img{
    margin: 15px;
}

@media (max-width: 768px) {

.pesquisa{
    width: 50%;
}

.container{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    width: 70%;
}
}

@media (max-width: 368px) {

    .pesquisa{
        width: 60%;
    }

    .pesquisa input {
        font-size: 6px;
        font: bold;
    }
    
    
    .btn-lupa{
        width: 15%;
    }
    
    .container{
        display: grid; 
        grid-template-columns: 1fr; 
        width: 40%;
    }

    .box-apple, .box-pineapple{
        display: none;
    }


    }