*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E2001E;
    height: 100vh;
}

header{
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 40%;
    align-items: center;
}

.btn-voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 10%;
    border-radius: 5px;
    transition: 0.3s ease, transform 0.1s ease;
}

.btn-voltar:hover{
    transform: translateY(-2px); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-voltar a{
    color: black;
    text-decoration: none;
    display: block; 
    text-align: center;  
    width: 100%;
    height: 100%;
    line-height: 200%;
}

main{
    display: flex;
    height: 75%;
    width: 100%;
    padding-left: 10%;
    gap: 10%;
}

.informacoes {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 10%;
    padding: 5%;
}

.calorias, .acucar, .proteina, .carboidrato, .gordura{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    width: 35%;
}

.informacoes input{
    width: 90%;
    height: 20%;
    border-radius: 5px;
    font-size: large;
    font: bold;
    padding-left: 5%;
}

.fruta{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    margin-top: 5%;
}

.fruta img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

footer{
    height: 10%;
    width: 100%;
    display: flex;
    place-content: end;
    align-items: end;
}

footer img{
    margin: 15px;
}

@media (max-width: 768px) {

    header{
        font-size: small;
        gap: 20%;
    }

    .btn-voltar{
        height: 20%;
        width: 20%;
    }

    .informacoes {
        gap: 15%;
        padding: 0;
    }

    .calorias, .acucar, .proteina, .carboidrato, .gordura{
        font-size: medium;
    }

    .informacoes input{
        width: 90%;
        height: 15%;
        font-size: large;
    }

    .fruta img{
        width: 100%;
        height: 40%;
    }

   
    
    }
    
    @media (max-width: 368px) {

        header {
            gap: 10%;
            font-size: 6px;
        }

        .btn-voltar{
            font-size: 10px;
        }

        main{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        
        .informacoes {
            gap: 30%;
            padding: 0;
        }

        .calorias, .acucar, .proteina, .carboidrato, .gordura{
            font-size: medium;
        }
    
        .informacoes input{
            width: 90%;
            height: 50%;
            font-size: 10px;
        }



        
}